:root {
    --primary: #fff6ec;
    --secondary: #513C3C;
    --tertiary: #1c100c;
}

/* nav bar */

header {
    background-color: var(--secondary);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 10px 10px;
    height: 32px;
    position: sticky;
    border-radius: 5px;
}
nav {
    display: flex;
    gap: 20px;
    align-items: center;
}
nav a{
    color: var(--primary);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: right;
}

#logomain {
    position: absolute;
    width: 100px;
    height: auto;
    top: 0;
    left: 15px;
}

body{
    background: var(--primary);
    color: var(--tertiary);
}

section {
    margin-left: 20px;
    padding-left: 15px;
    border-left: solid 2px var(--secondary)
}

section.top {
    margin-top: 40px;
}

.active {
    border-bottom: #fff6ec 3px solid;
    border-radius: 3px;
}

.bubble-container{
    position: fixed;
    bottom: 1%;
    left:1%;
    background-image: url(contactcollapsed.png);
    background-size: 77px auto;
    background-repeat: no-repeat;
    width: 95px;
    height: 77px;
}


.bubble-container:hover {
    background-image: url(contacthover.png);
    background-size: 350px auto;
    width: 568px;
}