:root {
    --primary: #fff6ec;
    --secondary: #513C3C;
    --tertiary: #1c100c;
}

header {
    background-color: var(--secondary);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 10px 10px;
    height: 32px;
    position: sticky;
    border-radius: 5px;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav a {
    color: var(--primary);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}

#logomain {
    position: absolute;
    width: 100px;
    height: auto;
    top: 0;
    left: 15px;
    margin-bottom: 5px;
}

body {
    background: var(--primary);
    color: var(--tertiary);
}

section {
    margin-left: 8.5%;
    padding-left: 15px;
    border-left: solid 2px var(--secondary)
}

section.top {
    margin-top: 40px;
}

h1 {
    font-family: "corinthia";
    font-weight: bold;
    font-size: 50px;
}


h2 {
    font-family: 'corinthia';
    font-weight: normal;
    font-size: 55px;
    position: absolute;
}

h1.portfolio-title {
    font-family: 'lato', sans-serif;
    font-weight: bold;
    font-size: 100px;
    position: absolute;
    -webkit-text-stroke: 3px var(--primary);
    left: ;
}

.portrait-container {
    display:flex;
    justify-content: center;
    margin-top: 100px;
}

.portrait {
    width:10%;
    margin-top: 30px;
    z-index: -1;
}

h2.portfolio-name {
    padding-left: 100px;
}

.active {
    border-bottom: #fff6ec 3px solid;
    border-radius: 3px;
}

.bubble-container{
    position: fixed;
    bottom: 1%;
    left:1%;
    background-image: url(imgs/contactcollapsed.png);
    background-size: 77px auto;
    background-repeat: no-repeat;
    width: 95px;
    height: 77px;
}


.bubble-container:hover {
    background-image: url(imgs/contacthover.png);
    background-size: 372px auto;
    width: 568px;
    margin-left: 13px;
}